body {
    margin: 0;
    background-color: #a5a5a5;
}

h1 {
    color:blueviolet;
    font-size: xxx-large;
}

p {
    color: aquamarine;
    font-size: medium;

}

div.hero-image {
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    height: 100px;
    width: 99vw;
    background-color: lightblue;    
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Imouto\ 22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.topMenu {
    overflow: hidden;
    background-color: violet;
}

.topMenu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 20px, 25px;
    font-size: 17px;
}